.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card.shadow-sm {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text.truncate {
    flex: 1 1 auto;
}
